body {
	margin: 0;
}

#blog-heading {
	min-height: 30vh;
	background-color: #ffb938;
	padding: 50px;
}

#blog-heading > h1 {
	font-size: 5rem;
}

#blog {
	margin-left: 25vw;
	margin-right: 25vw;
}

.tag {
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	border-radius: 100px;
	margin-right: 10px;
}

img {
	max-width: 100%;
}

@media (max-width: 1000px) {
	#blog {
		margin-left: 5vw;
		margin-right: 5vw;
	}
}

* {
	font-family: Noto Sans;
}