<!DOCTYPE html>
<html>
	<head>
		<title>blog</title>
		<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="/blog.css" rel="stylesheet">
	</head>
	<body>
		<div id="blog-heading">
			<h1>[title]</h1>
			<h3><span>[author]</span> @ <span id="date">[date]</span></h3>
		</div>
		<div id="blog">
			[body]
		</div>
		<script src="/blog.js"></script>
	</body>
</html>