<!DOCTYPE html>
<html>
	<head>
		<title>blog</title>
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

		<!-- and it's easy to individually load additional languages -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

		<script>hljs.highlightAll();</script>
		<link href="/blog.css" rel="stylesheet">
	</head>
	<body>
		<div id="blog-heading">
			<h1>[title]</h1>
			<h3><span>[author]</span> @ <span id="date">[date]</span></h3>
			<h3><span class="tag">[tags]</span></h3>
		</div>
		<div id="blog">
			[body]
		</div>
		<script src="/blog.js"></script>
	</body>
</html>